<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand">Leave Management System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
          <li class="nav-item">
            <a   class="nav-link" routerLink="/auth/profile">{{ username }}</a>
          </li>
          <li class="nav-item">
            <a href class="nav-link" (click)="logout()">LogOut</a>
          </li>
        </ul>

        <ul *ngIf="isLoggedIn" class="navbar-nav flex-grow-1">
          <li class="nav-item"  *ngIf="showAdminBoard" >
            <a class="nav-link text-white" routerLink="/leave/dashboard">Leave Requests</a>
          </li>
          <li class="nav-item">
            <a routerLink="/leave/request" class="nav-link text-white">Apply For Leave</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/leave/dashboard">My Leave</a>
          </li>

          <!-- <li class="nav-item dropdown" *ngIf="showAdminBoard">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Manage
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item text-dark" routerLink="/leave/leaveTypes">Leave Types</a>
              <a class="dropdown-item text-dark" routerLink="/leave/leaveAllocation">Leave
                Allocations</a>
              <a class="dropdown-item text-dark" routerLink="/leave/dashboard">Leave Requests</a>
              <a class="dropdown-item text-dark" routerLink="/leave/employeeList">Employees</a>
            </div>
          </li> -->


        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a class="nav-link text-white">Home</a>
          </li>
          <li class="nav-item">
            <a href="/auth/register" class="nav-link" routerLink="/auth/register">Sign Up</a>
          </li>
          <li class="nav-item">
            <a href="/auth/login" class="nav-link" routerLink="/auth/login">Login</a>
          </li>
        </ul>


      </div>
    </div>
  </nav>
</header>
<div class="container">
  <main role="main" class="pb-3">
    <router-outlet></router-outlet>
  </main>
</div>

<footer class="border-top footer text-muted">
  <div class="container">

  </div>
</footer>
